@import 'reset.css';
* {
  background: rgba(0,0,0,0.05);
}
section {
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
section:before,
section:after {
  content: '';
  display: table;
}
section:after {
  clear: both;
}
aside {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
aside a {
  display: block;
}
aside:before,
aside:after {
  content: '';
  display: table;
}
aside:after {
  clear: both;
}
aside:last-child {
  margin-right: 0%;
}
.posts {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66666666666666%;
  margin-left: 0%;
  margin-right: 3%;
}
.posts:before,
.posts:after {
  content: '';
  display: table;
}
.posts:after {
  clear: both;
}
.posts:last-child {
  margin-right: 0%;
}
.post {
  *zoom: 1;
}
.post:before,
.post:after {
  content: '';
  display: table;
}
.post:after {
  clear: both;
}
.post img {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 30.28764805414551%;
  margin-left: 0%;
  margin-right: 4.568527918781727%;
}
.post img:before,
.post img:after {
  content: '';
  display: table;
}
.post img:after {
  clear: both;
}
.post img:last-child {
  margin-right: 0%;
}
